body {
    font-family: 'Open Sans', sans-serif;
}
 #wrapper {
    width: 100%;
    background:#09192A;
}
.top-navbar {
    background: #09192A;
    border-bottom: none;
    border: 1px solid black;
    margin: 0px;
}
.top-navbar .navbar-brand {
color: #fff;
height: 60px;
font-size: 30px;
font-weight: 700;
text-transform: uppercase;
line-height: 30px;
}
.top-navbar .nav > li {
position: relative;
display: inline-block;
}
.top-navbar .nav > li > a {
position: relative;
display: block;
padding: 19px 15px;
color: #77C0FD;
}
.navbar-side{
		border:none;
	background-color: transparent;
	position:absolute;
	    width: 260px;
}
.sidebar-collapse > .nav > li {
border-bottom: 1px solid rgba(255,255,255,.15);
}

.sidebar-collapse > .nav > li > a {
    padding: 15px 10px;
}
.sidebar-collapse .nav > li > a {
    color: #edf585;
    background: #090a38;
}
.nav > li > a > i {
    margin-right: 10px;
}

#page-wrapper {
    background: #E5EBF2;
	 padding: 15px 15px;
    min-height: 600px;
	margin: 0 0 0 260px;
}

#page-inner {
    width: 100%;
    background-color: transparent;
    padding: 10px;
   
}
.page-header {
    padding-bottom: 9px;
    border-bottom: 1px solid #C7D1DD;
}

.bg-color-red {
    background-color: #fff;
    color:#ec0a0a;
}

.back-footer-red{
	  background-color:#ec0a0a;
	text-transform: uppercase;
	color: #fff;
}
.bg-color-green {
    background-color: #fff;
    color: #0f670f;
}

.back-footer-green{
	  background-color: #0f670f;
	text-transform: uppercase;
	color: #fff;
}
a{
	color: #fff;
}

.bg-color-yellow {
    background-color: #fff;
    color: #daaf0b;
}

.back-footer-yellow{
	  background-color: #daaf0b;
	text-transform: uppercase;
	color: #fff;
}

.bg-color-blue {
    background-color: #fff;
    color: #250f67;
}

.back-footer-blue{
	  background-color: #250f67;
	text-transform: uppercase;
	color: #fff;
}

















