body {
    font-family: 'Open Sans', sans-serif;
}
.panel {
    border: none;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 23px;
    background-color: #ffffff;
    margin-top: 50px;
}
.panel-heading {
    color: #212121;
    background-color: #f5f5f5;
    border-color: #dddddd;
}
.panel-heading {
    border-bottom: none;
}
.panel-body {
    padding: 15px;
}
.btn-success{

	margin: 20px 130px;
}