/**
 * ----------------------------------------------
 * Font face
 * 
 */
@font-face {
  font-family: "roboto", sans-serif;
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/roboto-thin.ttf") format("truetype");
}

@font-face {
  font-family: "roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-light.ttf") format("truetype");
}

@font-face {
  font-family: "roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-regular.ttf");
}

@font-face {
  font-family: "roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-medium.ttf") format("truetype");
}

@font-face {
  font-family: "roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-bold.ttf") format("truetype");
}

@font-face {
  font-family: "roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-black.ttf") format("truetype");
}

body{
	margin:0;
	padding:0;
	min-height:600px;
	 background-image: url(../images/login.jpg);
	 background-size:cover;
	 background-repeat:no-repeat;
}
login{
	min-height:600px;
	 background-image: url(../images/login.jpg);
	 background-size:cover;
	 background-repeat:no-repeat;
}
.sign{
	height: 60px;
	 margin: -15px 0 -45px;
}



.panel-success > .panel-heading {
    color: #ffffff;
    background-color: #4caf50;
    border-color: #d6e9c6;
}
.panel-heading {
    border-bottom: none;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}
	
	
	.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    color: inherit;
}
.btn-success {
    -webkit-background-size: 200% 200%;
    background-size: 200%;
    background-position: 50%;
}
.pull-right {
    float: right !important;
}
.btn-success {
    color: #ffffff;
    background-color: #4caf50;
    border-color: transparent;
}

.btn {
    text-transform: uppercase;
    border-right: none;
    border-bottom: none;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.main {
    width: 50%;
    margin: 0 auto;
    position: relative;
}
h1 {
    font-size: 42px;
    padding-bottom: 40px;
	color: #cbefd6a8;
}
input[type=text], input[type=password] {
    
    border: 1px solid #4e3043;
    background: rgba(0,0,0,0.15);
    box-shadow: 0 1px 0 rgba(255,255,255,0.2), inset 0 1px 1px rgba(0,0,0,0.1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
    color: #fff;
    font-size: 13px;
	
}
.control-label {
    margin: 0 0 20px 0;
	color :#f5d8d8;
	font-size: 18px;
}
.reg a {
    color: red;
    margin-top: 10px;
    font-size: 16px;
}