body {
    font-family: 'Open Sans', sans-serif;
}
 #wrapper {
    width: 100%;
    background:#09192A;
    min-height: :700px;
}
.top-navbar {
    background: #09192A;
    border-bottom: none;
    border: 1px solid black;
    margin: 0px;
}
.top-navbar .navbar-brand {
color: #fff;
height: 60px;
font-size: 30px;
font-weight: 700;
text-transform: uppercase;
line-height: 30px;
}
.top-navbar .nav > li {
position: relative;
display: inline-block;
}
.top-navbar .nav > li > a {
position: relative;
display: block;
padding: 19px 15px;
color: #77C0FD;
}
.btn > li > a > i {
    margin-right: 10px;
}
.navbar-side{
		border:none;
	background-color: transparent;
	position:absolute;
	    width: 260px;
}
.sidebar-collapse > .nav > li {
border-bottom: 1px solid rgba(255,255,255,.15);
}

.sidebar-collapse > .nav > li > a {
    padding: 15px 10px;
}
.sidebar-collapse .nav > li > a {
    color: #edf585;
    background: #090a38;
}
.nav > li > a > i {
    margin-right: 10px;
}


#page-wrapper {
    background: #E5EBF2;
	 padding: 15px 15px;
    min-height: 700px;
	margin: 0 0 0 260px;
}

#page-inner {
    width: 100%;
    background-color: transparent;
    padding: 10px;
   
}
.page-header {
    padding-bottom: 9px;
    border-bottom: 1px solid #C7D1DD;
}

.bg-color-red {
    background-color: #fff;
    color:#de3636;
}

.back-footer-red{
	  background-color:#de3636;
	text-transform: uppercase;
	color: #fff;
}
.bg-color-green {
    background-color: #fff;
    color: #39ab39;
}

.back-footer-green{
	  background-color: #39ab39;
	text-transform: uppercase;
	color: #fff;
}
a{
	color: #fff;
}

.bg-color-yellow {
    background-color: #fff;
    color: #daaf0b;
}

.back-footer-yellow{
	  background-color: #daaf0b;
	text-transform: uppercase;
	color: #fff;
}

.bg-color-blue {
    background-color: #fff;
    color: #5940a5;
}

.back-footer-blue{
	  background-color: #5940a5;
	text-transform: uppercase;
	color: #fff;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}



/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}









