body{
	padding: 0;
	margin: 0;
}
.header{
	

}

.navbar {
	background-color: #44b76f;
}
.navbar-header{
	padding-top: 55px;
}
.navbar .phn{
	padding-top: 50px;
	padding-bottom: 100px;
}
.menu .navbar-nav li a{
	color: #fff;
	padding-top: 80px;
}
.menu .navbar-nav li:hover{
	border-top: 2px solid #fff;
	
}
.menu .navbar-nav .act{
	position: relative;
}
.menu .navbar-nav .act::before{
	position: absolute;
	content: " ";
	top:0px;
	height: 8px;
	width: 40px;
	background-color: #fff;
	margin-left: 14px;
}
.header .lorem_a h1{
	color: #fff;
	font-size: 42px;
	line-height: 65px;
	margin-top: 75px;
	margin-bottom: 22px;
}