/**
 * ----------------------------------------------
 * Font face
 * 
 */
@font-face {
  font-family: "roboto", sans-serif;
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/roboto-thin.ttf") format("truetype");
}

@font-face {
  font-family: "roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-light.ttf") format("truetype");
}

@font-face {
  font-family: "roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-regular.ttf");
}

@font-face {
  font-family: "roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-medium.ttf") format("truetype");
}

@font-face {
  font-family: "roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-bold.ttf") format("truetype");
}

@font-face {
  font-family: "roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-black.ttf") format("truetype");
}

body{
	margin:0;
	padding:0;
	min-height:600px;
	 background-image: url(../images/login.jpg);
	 background-size:cover;
	 background-repeat:no-repeat;
}

.main {
    width: 50%;
    margin: 0 auto;
    position: relative;
}
h1 {
    font-size: 42px;
    padding-bottom: 40px;
	color: #cbefd6a8;
}
input[type=text], input[type=password] {
     width: 100%;
    padding: 8px 4px 8px 10px;
    margin-bottom: 15px;
    border: 1px solid #4e3043;
    border: 1px solid #4e3043;
    background: rgba(0,0,0,0.15);
    box-shadow: 0 1px 0 rgba(255,255,255,0.2), inset 0 1px 1px rgba(0,0,0,0.1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
    color: #fff;
    font-size: 13px;
	
}

.form-4 {
    width: 300px;
    margin: 60px auto 30px;
    padding: 10px;
    position: relative;
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
    color: white;
    text-shadow: 0 2px 1px rgba(0,0,0,0.3);
	font-size: 16px;
}
.form-4 input[type=submit] {
    width: 100%;
    padding: 8px 5px;
    background: #634056;
    background: linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    border-radius: 5px;
    border: 1px solid #4e3043;
    box-shadow: inset 0 1px rgba(255,255,255,0.4), 0 2px 1px rgba(0,0,0,0.1);
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    color: white;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    font-size: 16px;
    font-weight: bold;
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
}