

body{
  margin:0;
  padding:0;
}
/* ======================= default css setting's start======================= */
/*====== nav bar css start======*/


.wrapper
{
    width:100%;
    height:100%;
    position:relative;
    
}

.main{
  padding: 20px;
  transition: all 0.8s;
        background:#000;
        border-bottom:none;
        transition:all 0.4s ease-in;
        -webkit-transition:all 0.4s ease-in;
        -moz-transition:all 0.4s ease-in;
        -ms-transition:all 0.4s ease-in;
         color:#fff;
}

.main a.navbar-brand {
text-transform: uppercase;
font-size: 1.5em;
font-weight: 900;
color:#fff;
}


.navbar-toggle {
  border-radius:20%;
    transition:all 1s;
        
  }
.menu li{
  font-size: 1.0em;
  
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #edf585;
}

.menu li a:hover {
  color: #edf585;
  font-weight: 900;
}
.menu li a.active {
  color: #edf585;
  font-weight: 700;
}
  

/*================ nav bar css end==================*/


/*---------------Footer start----------------*/

.stylish-color-dark{
  background-color:#2A2A2A;
  min-height:300px;
}
.mx-auto {
    margin-right: auto!important;
    margin-left: auto!important;
}

.mt-3 {
    margin-top: 30px;
}

.mt-4 {
    margin-top: 30px;
  color:#fff;
  text-align:left;
  font-size:12px;
}
.wrapper2 h1{
  color:#AEAEAE;
  font-size:20px;
}
.wrapper2 p{
  color:#fff
}
.social-section ul li {
    display: inline-block;
}

.social-section ul a {
    margin-left: 0;
    padding-left: 0;
}
 /*------------------------Footer end------------*/
    
    
    /*---------------footer1 start-------*/

.social-section  i{
  display: inline-block;
    width: 37px;
    height: 37px;
    opacity: 0.1;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    position: relative;
    color: #000;
    line-height: 36px;
    font-size: 20px;
  opacity:0.1;
}
.social-section  {
  margin-top:30px;
  margin-left:-40px;
}


#footer1{
  background-color:#272727;
     color:#fff;
}
.menu2 li{
  margin-left:10px;
  margin-top:30px;
  opacity:0.2;
  text-align:center;
  
}
/*=============== footer1 end=================*/


/* ======================= default css setting's end======================= */







/*=============== MAIN HEADING=================*/

.main-heading
{
   background: url(../images/bus4.jpg) center center no-repeat;
  background-size:cover;
  background-attachment: fixed;
  color: #cfcfcf;
   
}
.overlay{
  //background-attachment: fixed;
        height:auto;
        height:100%;
        position:relative;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.8)), color-stop(17%,rgba(0,0,0,0.73)), color-stop(35%,rgba(0,0,0,0.66)), color-stop(62%,rgba(0,0,0,0.55)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */
}

.title-text1{
  color:red;
  font-size:40px;
  margin-bottom: 10px;
}

.overlay > .container
{
    padding:170px 0px;    
}
.header-btn1{
    position: relative;
    background-color: #62bf64;
    font-size: 16px;
    padding: 10px 30px;
    border: none;
    text-align: center;
    margin-top: 5%;
    color: #e41515;
    margin-bottom: 6%;

}

/*----============   MAIN HEADING end---------------------*/

/*=============== intro start=================*/
#intro {
    margin-top: 100px;
}

.title-text2{
    position: relative;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    display: block;
}
.p-text{
  text-align: center;
}
.header-btn4{
     position: relative;
    background-color: #caaeae;
    font-size: 16px;
    padding: 10px 30px;
    border: none;
    text-align: center;
    margin-top: 5%;
    color: #a90f0f;
    margin-bottom: 6%;
}
.header-info2 {
    padding-top: 40px;
}

/*======================= intro end===========================*/

/*======================== details start=======================*/

#details{
  min-height:500px;
   background-image: url(../images/bus1.jpg);
  opacity:0.9;
  background-repeat:no-repeat;
  width:100%;
  background-size:cover;
  margin-top:60px;
  
  
}
.color-overlay {
   background-color:rgba(0, 0, 0, 0.53);
  min-height:500px;
}



.line{
  width:100%;
  height:3px;
  background-color: #94630e;
}

/*-------=======================-- j start---------===============-*/
.j {
  padding-bottom:0px;
  padding-top:130px;
}

.j .f-info-list {
  list-style: none;
  text-align: center;
}

.j .f-info-list li {
  display: inline-block;
  max-width: 246px;
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
}
.j .f-info-list li i {
  width: 70px;
  height: 70px;
  border: 1px solid #fcf8e3;
  border-radius: 50%;
  color:#fcf8e3;
  font-size: 24px;
  line-height: 70px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.j .f-info-list li .p-text {
  font-size: 16px;
  font-weight: 400;
  color: #fcf8e3;
  margin-top: 25px;
}
.j .f-info-list li:hover i {
  color: #191919;
  background: #fcf8e3;
}
/*-------=========------- j end---------============-*/


/*=============== details end=====================*/



/*========================================== ABOUT US START==================================================*/

/*========================================== ABOUT US START==================================================*/


.pageWrapper{
    background: none repeat scroll 0 0 #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    margin: auto;
    position: relative;
}

.lined-heading {
    position: relative;
    margin-top: 160px;
    margin-bottom: 60px;
    text-align: center;
    display: block;
}
.title-text {
   font-size: 24px;
    color: #32864d;
    font-weight: bold;
}



h2,.h2{
   font-size: 28px;
     color: #32864d;
      font-weight: bold;
     
}
h1.lined-heading span, h2.lined-heading span, h3.lined-heading span, h4.lined-heading span, h5.lined-heading span, h6.lined-heading span {
    position: relative;
    z-index: 1;
    padding: 0 20px;
    background: #fff;
    display: inline-block;
}
h1.lined-heading:before, h2.lined-heading:before, h3.lined-heading:before, h4.lined-heading:before, h5.lined-heading:before, h6.lined-heading:before {
    position: absolute;
    top: 50%;
    z-index: 1;
    display: block;
    width: 100%;
    height: 1px;
    border-top: 2px solid #ccc;
    content: "";
}



.about p{
  margin:30px;
  
}


/*======================= ABOUT US end==============================*/



/*=============================================== QUERY START============================================*/
/*=============================================== QUERY START============================================*/

.form{
  float:right;
  
}
#communicate{
  margin-top:150px;
}



#communicate form {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 20px;
  max-width: 850px;
  width: 100%;
  position: relative;
 
}
.sec-title{
   margin-top: 80px;
}

 #communicate form input
 {
 
  height: 45px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-top: 35px;
  color: #fff;
  background: transparent;
  padding-left: 10px;
  border: 1px solid #646E76;
  transition: all .3s linear;
  
}
 #communicate form input:focus,#communicate form textarea:focus
  {
  outline: none;
  border-bottom: 1px solid #FFE500;
}

 #communicate form input[name="name"] {
  width: 45%;
 
   border-bottom:1px solid black;
    margin-left: 30%;
}

#communicate form input[name="email"] {
  width: 45%;
  margin-left: 30%;
    border-bottom:1px solid black;
}

  #communicate form input[name="subject"] {
  width: 45%;
 
   border-bottom:1px solid black;
    margin-left: 30%;
}

#communicate form .btn-default {
 margin-top: 300px;
    position: absolute;
    right: 270px;
    margin-bottom: 50px;
}
#communicate form textarea {
    height: 200px;
    padding-top: 10px;
    resize: vertical;
    padding-bottom: 50px;
   border:none;
    border-bottom:1px solid black;
  margin-left:30%;
  width: 45%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-top: 35px;
  color: #fff;
  background: transparent;
  padding-left: 10px;
  border: 1px solid #646E76;
  transition: all .3s linear;
}
.header-btn4{
         position: relative;
    background-color: #caaeae;
    font-size: 16px;
    padding: 14px 38px;
    border: none;
    text-align: center;
    margin-top: 5%;
    color: #a90f0f;
    margin-bottom: 3%;
}
.header-info2 {
    padding-top: 40px;
}

/*================== QUERY end======================*/




/*=============================================== TICKET START============================================*/
/*=============================================== TICKET START============================================*/



.title-text{
  color:red;
}
#t_cancel{
  margin-top:80px;
  
}
.line{
  border-top: 3px solid #828181;
    width: 60%;
   
    margin-left:20%;
  position:relative;
  text-align:center;
}


.test1{
  padding-top:30px;
}

#communicate form {
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 40px;
  max-width: 850px;
  width: 100%;
  position: relative;
 
}

 #communicate form input
 {
  height: 45px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-top: 35px;
  color: #fff;
  background: transparent;
  padding-left: 10px;
  border: 1px solid #646E76;
  transition: all .3s linear;
  
}
 #communicate form input:focus
  {
  outline: none;
  border-bottom: 1px solid #FFE500;
}

 #communicate form input[name="name"] {
  width: 45%;
 
   border-bottom:1px solid black;
    margin-left: 30%;
}

#communicate form input[name="email"] {
  width: 45%;
  margin-left: 30%;
    border-bottom:1px solid black;
}

 

#communicate form .btn-default {
 margin-top: 100px;
    position: absolute;
    right: 270px;
    margin-bottom: 100px;
}
.header-btn4{
         position: relative;
    background-color: #caaeae;
    font-size: 16px;
    padding: 10px 30px;
    border: none;
    text-align: center;
    margin-top: 5%;
    color: #a90f0f;
    margin-bottom: 6%;
}
.header-info2 {
    padding-top: 40px;
}

/*================== TICKET end======================*/






/*=============================================== BUS RESERVED START============================================*/
/*=============================================== BUS RESERVED START============================================*/


#content {
    height: auto;
}
.panel-body {
    background-color:rgba(0,0,0,.075);
    margin-top: 50px;

}
label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 400;
}
.legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


.btn-default {
    background-color: #079d49;
    color: #ffffff;
    border-color: #079d49;
}





/*=============================================== search START============================================*/
/*=============================================== search START============================================*/
.tab-container ul.tabs li {
    float: left;
    padding-right: 4px;
    list-style: none;
    margin-bottom: 30px;

}
.style1{

    background-color: #54D154;
    font-size: 12px;
    padding: 6px 18px;
    border: none;
    border-radius: 15px;
    text-align: center;
    color: #fff;
    margin-top: 10%;
}
}
.searchlist{
  margin-bottom: 20px;
}
.pj-table {
    width: 100%;
    margin-bottom: 20px;
}

.pn{
  margin-bottom: 40px;
  margin-top: 5%;
}

.departure_next{
 float: right;
}




.pj-table {
    border-collapse: separate;
    border: none;
    border-left: solid 1px #e4e4e4;
    border-top: solid 1px #e4e4e4;
    color: #222;
    font: normal 12px/16px Arial, Verdana, sans-serif;
}
.pj-table th {
    background-color: #f7f7f7;
    border-left: solid 1px #fff;
    border-top: solid 1px #fff;
    border-right: solid 1px #e5e2e2;
    border-bottom: solid 1px #e5e2e2;
    font-weight: bold;
    padding: 6px 5px;
    empty-cells: show;
}
  .pj-table td {
    border: solid 1px #ccc;
    border-left: solid 1px #fff;
    border-top: solid 1px #fff;
    border-right: solid 1px #e5e2e2;
    border-bottom: solid 1px #e5e2e2;
    padding: 8px 10px;
    empty-cells: show;
}





*,*:before,*:after {
  box-sizing: border-box;
}

.fuselage {
  border-right: 5px solid #d8d8d8;
  border-left: 5px solid #d8d8d8;
}

ol {
  list-style :none;
  padding: 0;
  margin: 0;
}

.row {
  
}

.seats {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.seat {
  display: flex;
  flex: 0 0 14.28571428571429%;
  padding: 5px;
  position: relative;  
  &:nth-child(3) {
    margin-right: 14.28571428571429%;
  }
  input[type=checkbox] {
    position: absolute;
    opacity: 0;
  }
  input[type=checkbox]:checked {
    + label {
      background: #bada55;      
      -webkit-animation-name: rubberBand;
          animation-name: rubberBand;
      animation-duration: 300ms;
      animation-fill-mode: both;
    }
  }
  input[type=checkbox]:disabled {
    + label {
      background: #dddddd;
      text-indent: -9999px;
      overflow: hidden;
      &:after {
        content: "X";
        text-indent: 0;
        position: absolute;
        top: 4px;
        left: 50%;
        transform: translate(-50%, 0%);
      }
      &:hover {
        box-shadow: none;
        cursor: not-allowed;
      }
    }
  }
  label {    
    display: block;
    position: relative;    
    width: 100%;    
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5rem;
    padding: 4px 0;
    background: #F42536;
    border-radius: 5px;
    animation-duration: 300ms;
    animation-fill-mode: both;
    
    &:before {
      content: "";
      position: absolute;
      width: 75%;
      height: 75%;
      top: 1px;
      left: 50%;
      transform: translate(-50%, 0%);
      background: rgba(255,255,255,.4);
      border-radius: 3px;
    }
    &:hover {
      cursor: pointer;
      box-shadow: 0 0 0px 2px #5C6AFF;
    }
    
  }
}
