body {
    font-family: 'Open Sans', sans-serif;
}
#right {
   
}
.content-top {
    height: 20px;
    overflow: hidden;
}
.content-middle {
    background-color:;
    padding: 20px 30px;
}

.b10 {
    margin-bottom: 30px;
}


.r5 {
    margin-right: 5px;
}
.float_left {
    float: left;
}


.pj-button, .pj-button:link, .pj-button:active, .pj-button:visited, .pj-button:hover {
    background: #94e894;
    text-decoration: none;
    -moz-box-shadow: 1px 1px 1px #FBFBFB;
    -webkit-box-shadow: 1px 1px 1px #FBFBFB;
    box-shadow: 1px 1px 1px #FBFBFB;
}
.pj-button {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: solid 1px #c9cfd4;
    color: #6c6a6a;
    cursor: pointer;
    font: normal 11px/18px Verdana, sans-serif;
    padding: 4px 15px;
    position: relative;
}
.t5 {
    margin-top: 5px;
}
.float_right {
    float: right;
}
.pj-table {
    border-collapse: separate;
    border: none;
    border-left: solid 1px #e4e4e4;
    border-top: solid 1px #e4e4e4;
    color: #222;
    font: normal 12px/16px Arial, Verdana, sans-serif;
}
.pj-table th {
    background-color: #f7f7f7;
    border-left: solid 1px #fff;
    border-top: solid 1px #fff;
    border-right: solid 1px #e5e2e2;
    border-bottom: solid 1px #e5e2e2;
    font-weight: bold;
    padding: 6px 5px;
    empty-cells: show;
}
  .pj-table td {
    border: solid 1px #ccc;
    border-left: solid 1px #fff;
    border-top: solid 1px #fff;
    border-right: solid 1px #e5e2e2;
    border-bottom: solid 1px #e5e2e2;
    padding: 7px 5px;
    empty-cells: show;
}


.content-bottom {
    background: url(../img/backend/content-bottom.png) 0 0 no-repeat;
    height: 11px;
    overflow: hidden;
}



















